{% extends "confirm_delete.html" %}

{% block title %}
  Delete '{{ project.name }}'
{% endblock %}

{% block delete_confirmation_breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'task_manager:position-list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{{ request.GET.next }}">{{ project.name }}</a></li>
{% endblock %}

{% block delete_confirmation_content %}
  <h1 class="h4">Delete project?</h1>
  <p class="mb-0">Are you sure that you want to delete position '{{ project.name }}' from the database?</p>
{% endblock %}
