{% extends "base.html" %}

{% block title %}
  <title>Task manager - {{ project.name }}</title>
{% endblock %}

{% block content %}
  <h1>
    {{ project.name }}

    {% if project.author == user %}
      <a href="{% url 'task_manager:project-update' pk=project.id %}?next={% url 'task_manager:project-detail' pk=project.id %}" class="btn btn-outline-primary">Change</a>

      {% if project.author == user %}
        {% if project.is_active %}
          <a href="{% url 'task_manager:project-toggle-is-active' pk=project.id %}" class="btn btn-outline-warning">
            Deactivate project
          </a>
        {% else %}
          <a href="{% url 'task_manager:project-toggle-is-active' pk=project.id %}" class="btn btn-outline-success">
            Re-activate project
          </a>
        {% endif %}
      {% endif %}

      {% if can_be_deleted %}
        <a href="{% url 'task_manager:project-delete' pk=project.id %}?next={% url 'task_manager:project-detail' pk=project.id %}" class="btn btn-outline-danger">Delete</a>
      {% endif %}

    {% endif %}
  </h1>

  {% if project.description %}
    <p>{{ project.description }}</p>
  {% endif %}

  <h2>Author</h2>
  <p>{{ project.author }}</p>

  <h2>Participants</h2>

  {% regroup participants by position as regrouped_worker_list %}

  <ul>
    {% for position in regrouped_worker_list %}
      <li>
        {{ position.grouper }}
        <ul>
          {% for worker in position.list %}
            <li>
              {{ worker.first_name }} {{ worker.last_name }}
              {% if worker == project.author %}
               (<u>Author</u>)
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <h2>
    Tasks
    <a href="{% url 'task_manager:task-create' pk=project.id %}?next={% url 'task_manager:project-detail' pk=project.id %}" class="btn btn-outline-primary">+</a>
  </h2>

  {% for task in tasks %}
    <a href="{% url 'task_manager:task-detail' pk=task.id %}"
      {% if task.is_completed %}
        class="text-secondary"><s>{{ task }}</s>
      {% else %}
        ><u>{{ task }}</u>
      {% endif %}
    </a>
    <span class="badge badge-light">{{ task.task_type }}</span>

    <div
      {% if task.status == "new" %}
        class="badge badge-pill badge-success"
      {% elif task.status == "progress" %}
        class="badge badge-pill badge-info"
      {% elif task.status == "blocked" %}
        class="badge badge-pill badge-danger"
      {% elif task.status == "review" %}
        class="badge badge-pill badge-warning"
      {% else %}
        class="badge badge-pill badge-secondary"
      {% endif %}
    >{{ task.get_status_display }}</div>

    <p><span class="text-secondary">{{ task.author }}</span> → {{ task.responsible }}</p>
    <p><b>Due to:</b> {{ task.deadline|date }}, {{ task.deadline|time }}</p>
    <hr>
  {% endfor %}

{% endblock %}
