{% extends "confirm_delete.html" %}

{% block title %}
  Delete '{{ tasktype.name }}'
{% endblock %}

{% block delete_confirmation_breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'task_manager:position-list' %}">Task types</a></li>
  <li class="breadcrumb-item">{{ tasktype.name }}</li>
{% endblock %}

{% block delete_confirmation_content %}
  <h1 class="h4">Delete task type?</h1>
  <p class="mb-0">Are you sure that you want to delete task type '{{ tasktype.name }}' from the database?</p>
{% endblock %}
