{% extends "base.html" %}

{% block title %}
  <title>Task manager - {{ worker }}</title>
{% endblock %}

{% block content %}

  <h1>{{ worker }}</h1>

  {% if worker == user or user.is_staff %}
    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary">Change profile</a>
  {% endif %}

  {% if worker == user %}
    <a href="{% url 'password_change' %}" class="btn btn-secondary">Change password</a>
  {% endif %}

  {% if user.is_staff and not worker == user %}
    {% if worker.is_active %}
      <a href="{% url 'task_manager:toggle-is-active' pk=worker.id %}" class="btn btn-warning link-to-page">
        Deactivate user profile
      </a>
    {% else %}
      <a href="{% url 'task_manager:toggle-is-active' pk=worker.id %}" class="btn btn-success link-to-page">
        Re-activate user profile
      </a>
    {% endif %}
  {% endif %}

  <p>
    <b>Position:</b> {{ worker.position.name }}
  </p>

  {% if can_be_deleted %}
    <p>This user isn't an author or responsible in any project or task and can be safely deleted.</p>
    <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger">Delete profile</a>
  {% endif %}

  {% if worker != user %}
    <h2>Tasks in progress</h2>

    {% if common_tasks_in_progress.count %}
      <p>This user has {{ common_tasks_in_progress.count }} active tasks created by you:</p>

      {% for task in common_tasks_in_progress %}
        <hr>
        <h3><a href="#">{{ task.name }}</a></h3>
        <p>{{ task.task_type }}</p>
        <p>{{ task.status }}</p>
        <p><b>Due to:</b> {{ task.deadline }}</p>
      {% endfor %}

    {% else %}
      <p>This user doesn't have uncompleted tasks created by you.</p>
    {% endif %}
  {% endif %}

{% endblock %}
