{% extends "base.html" %}

{% block title %}
  <title>Task manager - Workers</title>
{% endblock %}

{% block content %}
  <h1>
    Workers
    {% if user.is_staff %}
      <a href="{% url 'task_manager:worker-create' %}?next={% url 'task_manager:worker-list' %}" class="btn btn-outline-primary">+</a>
    {% endif %}
  </h1>

  {% regroup worker_list by position as regrouped_worker_list %}

  <ul>
  {% for item in regrouped_worker_list %}
      <li>{{ item.grouper }}
      <ul>
        {% for worker in item.list %}
          <li>
            <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
              {{ worker.first_name }} {{ worker.last_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      </li>
  {% endfor %}
  </ul>

{% endblock %}
